<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Random Word</title>
    </head>
    <body>
            <h1>Random Word</h1>
            <h3>(Attempt # {{ request.session.counter }})</h3>
            {{ random_word }}
            <form action='/randomword' method="POST">
                {% csrf_token %}
                <input type="submit" name="submit" value="Generate" class="btn btn-default navbar-btn">
            </form>
            <form action='/reset' method='POST'>
                {% csrf_token %}
                <input type='submit' name='submit' value='Reset' class='btn btn-default navbar-btn'>
            </form>
    </body>
</html>
